In [1]:
a=100
b=200

a+b

300

# Pandas 라이브러리

- Series 구조와 DataFrame구조 이해하기
- Series 구조 : index(순서) - value(값) 구성되어 있는 데이터 구조
               하나의 Series에 한 개의 데이터 타입만 올 수 있다. -> 쉽게 통계적인 연산을 위함

In [2]:
import pandas #pandas 라이브러리를 호출한다

In [4]:
s1 = pandas.Series([10,20,30,40])
s1

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
s1.sum()

100

In [6]:
s2 = pandas.Series([10,20,30,'a'])
s2

0    10
1    20
2    30
3     a
dtype: object

In [8]:
s3 = pandas.Series([10,20,30,40,50])
s3

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
print(s3.sum())
print(s3.mean())
print(s3.min())
print(s3.max())

150
30.0
10
50

- DataFrame : index-column-value 의 구조
              이름이라고 하는 시리즈, 나이라고 하는 시리즈

In [12]:
df = pandas.DataFrame({'이름':['홍길동','이몽룡','성춘향'],
                 '나이':[10,20,30,],
                 '주소':['서울','경기','강원']})

In [14]:
df['이름']

0    홍길동
1    이몽룡
2    성춘향
Name: 이름, dtype: object

In [15]:
df['나이']

0    10
1    20
2    30
Name: 나이, dtype: int64

In [16]:
df['나이'].mean()

20.0