In [16]:
import pandas as pd

In [17]:
df1 = pd.read_csv('02_VIP_member_Data.csv')

In [18]:
# 데이터의 구조와 타입 확인
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6519 entries, 0 to 6518
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             6519 non-null   int64
 1   State          6519 non-null   object
 2   Address        6519 non-null   object
 3   Gender         6518 non-null   object
 4   Age            6518 non-null   float64
 5   총구매금액          6519 non-null   int64
 6   총구매수량          6519 non-null   float64
 7   1회방문시구매금액(평균)  6519 non-null   int64
 8   배송서비스신청여부      6519 non-null   object
 9   모바일알람여부        6519 non-null   object
 10  VIP회원          6519 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 560.4+ KB

In [19]:
df1.head()

,ID,State,Address,Gender,Age,총구매금액,총구매수량,1회방문시구매금액(평균),배송서비스신청여부,모바일알람여부,VIP회원
0,272369856,정상회원,수지구,여,45.0,5733884,546.5,47782,미신청,수신,VIP
1,1506656256,정상회원,수지구,여,36.0,673414,90.0,35443,미신청,.,normal
2,1476143616,정상회원,수지구,여,34.0,655919,66.0,46851,미신청,.,normal
3,716128320,정상회원,수지구,여,51.0,2984534,252.1,48138,미신청,.,normal
4,743192512,정상회원,수지구,여,51.0,1901488,152.0,158457,신청,.,normal

In [20]:
cond1 = df1['VIP회원']=='VIP'
cond2 = df1['모바일알람여부']=='수신'
df_vip = df1.loc[cond1 & cond2]

In [21]:
#데이터 파일로 저장하기.
df_vip.to_excel('vip_member.xlsx')

In [22]:
cond1 = (df1['VIP회원'] == 'VIP')
df_vip2 = df1.loc[cond1].sort_values(by='총구매금액').head(10)

In [23]:
df_vip2.to_excel('vip_number2.xlsx')

In [24]:
df1['Address'].value_counts()

수지구       4445
기타         728
기흥구        405
분당구        404
수원 영통구     143
서울 강남구     114
서울 송파구      72
화성          49
처인구         43
광주          37
수정구         19
중원구         17
수원 장안구      15
수원 팔달구      14
수원 권선구      11
하남           3
Name: Address, dtype: int64

In [25]:
#특정 주소에 사는 vip 회원 데이터
value1 = input('주소를 입력하시오 : ')

cond1 = df1['VIP회원']=='VIP'
cond2 = df1['Address']==value1

df1.loc[cond1 & cond2].to_excel('vip_member3.xlsx')

주소를 입력하시오 : 수지구

In [26]:
df1.head()

,ID,State,Address,Gender,Age,총구매금액,총구매수량,1회방문시구매금액(평균),배송서비스신청여부,모바일알람여부,VIP회원
0,272369856,정상회원,수지구,여,45.0,5733884,546.5,47782,미신청,수신,VIP
1,1506656256,정상회원,수지구,여,36.0,673414,90.0,35443,미신청,.,normal
2,1476143616,정상회원,수지구,여,34.0,655919,66.0,46851,미신청,.,normal
3,716128320,정상회원,수지구,여,51.0,2984534,252.1,48138,미신청,.,normal
4,743192512,정상회원,수지구,여,51.0,1901488,152.0,158457,신청,.,normal

In [28]:
value1 = int(input('연령 범위를 입력(최소값) : '))
value2 = int(input('연령 범위를 입력(최대값) : '))

cond1 = (df1['Age'] >= value1) & (df1['Age'] <= value2)
cond2 = (df1['VIP회원'] == 'VIP')

df1.loc[cond1 & cond2].sort_values(by='총구매금액', ascending=False).to_excel('vip_age_member.xlsx')

연령 범위를 입력(최소값) : 40
연령 범위를 입력(최대값) : 50

In [33]:
# 총 구매수량이 100건 이사인 고객 명단 추출
# 총 구매 금액이 높은 순서대로 정렬 후 상위 50명
# 데이터 파일 저장 -> 송부

cond1 = df1['총구매수량'] >= 100

df2 = df1.loc[cond1].sort_values(by='총구매금액', ascending=False).head(50)

df2.to_excel('top_sales_member.xlsx')

In [38]:
# Address항목에서 '수지구'에 사는 고객들의 VIP와 Member수를 확인

cond1 = df1['Address']=='수지구'
df2 = df1.loc[cond1]
df2['VIP회원'].value_counts()

normal    4353
VIP         92
Name: VIP회원, dtype: int64

In [39]:
# Gender 항목에 '남성' 고객들의 VIP와 Member 수를 확인

cond1 = df1['Gender']=='남'
df2 = df1.loc[cond1]
df2['VIP회원'].value_counts()

normal    411
VIP         7
Name: VIP회원, dtype: int64

In [42]:
# 배송서비스신청여부를 '신청' 또는 '미신청' 값을 입력하여,
# 총구매수량이 높은 상위 100명의 명단을 엑셀 파일로 추출

value1 = input('배송서비스신청여부 : ')

cond1 = df1['배송서비스신청여부']==value1

df1.loc[cond1].sort_values(by='총구매수량', ascending=False).head(100).to_excel('delivery_member.xlsx')

배송서비스신청여부 : 신청