In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('2016_health_checkup_1.csv')

In [5]:
df1.head()

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,604509,1,12,41,165.0,65.0,7.0,1.2,1.0,1.0,...,21.0,17.0,17.0,1.0,0,NaN,0.0,0.0,0.0,0.0
1,360197,2,17,43,130.0,25.0,50.0,0.3,0.9,1.0,...,18.0,7.0,19.0,1.0,0,NaN,0.0,0.0,0.0,1.0
2,201061,2,17,45,150.0,135.0,51.0,0.5,0.5,1.0,...,21.0,18.0,24.0,1.0,0,NaN,1.0,0.0,0.0,0.0
3,586237,2,12,41,145.0,35.0,51.0,1.5,0.7,1.0,...,15.0,14.0,18.0,3.0,0,NaN,0.0,0.0,0.0,0.0
4,922457,2,9,11,150.0,35.0,51.0,1.2,1.0,1.0,...,18.0,10.0,20.0,1.0,1,0.0,0.0,0.0,0.0,0.0

In [12]:
df1

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,604509,1,12,41,165.0,65.0,7.0,1.2,1.0,1.0,...,21.0,17.0,17.0,1.0,0,NaN,0.0,0.0,0.0,0.0
1,360197,2,17,43,130.0,25.0,50.0,0.3,0.9,1.0,...,18.0,7.0,19.0,1.0,0,NaN,0.0,0.0,0.0,1.0
2,201061,2,17,45,150.0,135.0,51.0,0.5,0.5,1.0,...,21.0,18.0,24.0,1.0,0,NaN,1.0,0.0,0.0,0.0
3,586237,2,12,41,145.0,35.0,51.0,1.5,0.7,1.0,...,15.0,14.0,18.0,3.0,0,NaN,0.0,0.0,0.0,0.0
4,922457,2,9,11,150.0,35.0,51.0,1.2,1.0,1.0,...,18.0,10.0,20.0,1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,917658,1,6,11,NaN,NaN,79.0,1.2,1.2,1.0,...,29.0,29.0,40.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249996,929818,2,11,11,NaN,NaN,76.0,1.0,1.2,1.0,...,21.0,22.0,14.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249997,950154,1,6,41,NaN,NaN,78.0,1.5,1.5,1.0,...,19.0,14.0,17.0,3.0,0,NaN,0.0,0.0,0.0,0.0
249998,962054,2,18,30,NaN,NaN,89.0,0.1,0.1,NaN,...,19.0,10.0,12.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249999,983578,2,8,11,NaN,NaN,999.0,0.8,0.6,1.0,...,16.0,19.0,14.0,1.0,1,1.0,0.0,0.0,0.0,0.0

In [9]:
df2 = pd.read_csv('2016_health_checkup_2.csv')

In [11]:
df2

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,740577,2,6,11,165.0,65.0,30.0,1.2,1.0,1.0,...,18.0,10.0,7.0,1.0,0,NaN,0.0,0.0,0.0,0.0
1,994961,2,13,45,150.0,35.0,50.0,0.7,0.8,1.0,...,23.0,12.0,13.0,1.0,1,0.0,0.0,0.0,0.0,0.0
2,498461,2,12,44,155.0,35.0,51.0,0.3,0.4,1.0,...,20.0,8.0,6.0,1.0,0,NaN,0.0,0.0,0.0,1.0
3,596525,2,6,41,155.0,35.0,51.0,1.0,0.8,1.0,...,22.0,11.0,13.0,1.0,0,NaN,0.0,0.0,0.0,0.0
4,186709,2,18,48,140.0,40.0,51.0,0.5,0.4,1.0,...,17.0,9.0,20.0,1.0,0,NaN,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,920694,1,14,45,NaN,NaN,90.0,1.5,9.9,2.0,...,27.0,19.0,35.0,1.0,0,NaN,0.0,1.0,0.0,0.0
249996,933726,1,11,45,NaN,NaN,86.0,0.9,0.8,1.0,...,19.0,15.0,66.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249997,950762,2,10,45,NaN,NaN,83.0,1.0,1.0,1.0,...,15.0,18.0,27.0,1.0,0,NaN,1.0,0.0,0.0,0.0
249998,969362,1,8,41,NaN,NaN,90.0,1.2,1.2,1.0,...,20.0,20.0,20.0,2.0,0,NaN,0.0,0.0,0.0,0.0
249999,992166,1,9,11,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,35.0,57.0,2.0,0,NaN,0.0,0.0,0.0,0.0

In [16]:
df1.shape

(250000, 31)

In [17]:
df2.shape

(250000, 31)

In [18]:
df3 = pd.concat([df1, df2])

In [19]:
df3

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,604509,1,12,41,165.0,65.0,7.0,1.2,1.0,1.0,...,21.0,17.0,17.0,1.0,0,NaN,0.0,0.0,0.0,0.0
1,360197,2,17,43,130.0,25.0,50.0,0.3,0.9,1.0,...,18.0,7.0,19.0,1.0,0,NaN,0.0,0.0,0.0,1.0
2,201061,2,17,45,150.0,135.0,51.0,0.5,0.5,1.0,...,21.0,18.0,24.0,1.0,0,NaN,1.0,0.0,0.0,0.0
3,586237,2,12,41,145.0,35.0,51.0,1.5,0.7,1.0,...,15.0,14.0,18.0,3.0,0,NaN,0.0,0.0,0.0,0.0
4,922457,2,9,11,150.0,35.0,51.0,1.2,1.0,1.0,...,18.0,10.0,20.0,1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,920694,1,14,45,NaN,NaN,90.0,1.5,9.9,2.0,...,27.0,19.0,35.0,1.0,0,NaN,0.0,1.0,0.0,0.0
249996,933726,1,11,45,NaN,NaN,86.0,0.9,0.8,1.0,...,19.0,15.0,66.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249997,950762,2,10,45,NaN,NaN,83.0,1.0,1.0,1.0,...,15.0,18.0,27.0,1.0,0,NaN,1.0,0.0,0.0,0.0
249998,969362,1,8,41,NaN,NaN,90.0,1.2,1.2,1.0,...,20.0,20.0,20.0,2.0,0,NaN,0.0,0.0,0.0,0.0
249999,992166,1,9,11,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,35.0,57.0,2.0,0,NaN,0.0,0.0,0.0,0.0

In [20]:
df3.shape

(500000, 31)

In [21]:
df4 = pd.read_csv('2016_health_checkup_3.csv')

In [22]:
df4

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,737537,2,12,28,145.0,40.0,43.0,1.5,1.0,1.0,...,40.0,29.0,22.0,1.0,1,0.0,0.0,0.0,0.0,0.0
1,85837,2,11,44,155.0,40.0,50.0,1.5,1.2,1.0,...,19.0,18.0,10.0,1.0,0,NaN,0.0,0.0,0.0,0.0
2,516181,2,18,45,135.0,35.0,51.0,0.4,0.6,1.0,...,16.0,11.0,14.0,1.0,0,NaN,0.0,0.0,0.0,0.0
3,709129,2,14,26,155.0,35.0,51.0,0.5,0.5,1.0,...,24.0,16.0,17.0,1.0,1,0.0,0.0,0.0,0.0,0.0
4,728169,2,12,11,150.0,40.0,51.0,1.0,0.7,1.0,...,27.0,34.0,18.0,1.0,0,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,921014,1,8,28,NaN,NaN,82.0,0.9,1.2,1.0,...,22.0,29.0,44.0,3.0,0,NaN,0.0,0.0,0.0,0.0
249996,936418,2,9,45,NaN,NaN,69.0,1.5,1.5,1.0,...,17.0,11.0,24.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249997,952842,1,12,26,NaN,NaN,81.0,1.5,0.9,2.0,...,15.0,16.0,42.0,1.0,1,0.0,0.0,0.0,0.0,0.0
249998,971446,2,16,27,NaN,NaN,80.0,NaN,NaN,2.0,...,60.0,52.0,60.0,1.0,1,0.0,0.0,0.0,1.0,0.0
249999,995666,2,11,45,NaN,NaN,79.0,0.6,0.7,1.0,...,20.0,15.0,18.0,1.0,0,NaN,0.0,0.0,0.0,0.0

In [23]:
pd.concat([df1, df2, df4])

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,604509,1,12,41,165.0,65.0,7.0,1.2,1.0,1.0,...,21.0,17.0,17.0,1.0,0,NaN,0.0,0.0,0.0,0.0
1,360197,2,17,43,130.0,25.0,50.0,0.3,0.9,1.0,...,18.0,7.0,19.0,1.0,0,NaN,0.0,0.0,0.0,1.0
2,201061,2,17,45,150.0,135.0,51.0,0.5,0.5,1.0,...,21.0,18.0,24.0,1.0,0,NaN,1.0,0.0,0.0,0.0
3,586237,2,12,41,145.0,35.0,51.0,1.5,0.7,1.0,...,15.0,14.0,18.0,3.0,0,NaN,0.0,0.0,0.0,0.0
4,922457,2,9,11,150.0,35.0,51.0,1.2,1.0,1.0,...,18.0,10.0,20.0,1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,921014,1,8,28,NaN,NaN,82.0,0.9,1.2,1.0,...,22.0,29.0,44.0,3.0,0,NaN,0.0,0.0,0.0,0.0
249996,936418,2,9,45,NaN,NaN,69.0,1.5,1.5,1.0,...,17.0,11.0,24.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249997,952842,1,12,26,NaN,NaN,81.0,1.5,0.9,2.0,...,15.0,16.0,42.0,1.0,1,0.0,0.0,0.0,0.0,0.0
249998,971446,2,16,27,NaN,NaN,80.0,NaN,NaN,2.0,...,60.0,52.0,60.0,1.0,1,0.0,0.0,0.0,1.0,0.0
249999,995666,2,11,45,NaN,NaN,79.0,0.6,0.7,1.0,...,20.0,15.0,18.0,1.0,0,NaN,0.0,0.0,0.0,0.0

In [24]:
for i in ['1','2','3','4'] :
    print('2016_health_checkup_'+i+'.csv')

2016_health_checkup_1.csv
2016_health_checkup_2.csv
2016_health_checkup_3.csv
2016_health_checkup_4.csv

In [25]:
df1 = pd.DataFrame()

for i in ['1','2','3','4'] :
    dfn = pd.read_csv('2016_health_checkup_'+i+'.csv')
    df1 = pd.concat([df1, dfn])

In [29]:
df1 = pd.DataFrame()

for i in range(1,5):
    dfn = pd.read_csv('2016_health_checkup_'+str(i)+'.csv')
    df1 = pd.concat([df1, dfn])

In [30]:
df1

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,604509,1,12,41,165.0,65.0,7.0,1.2,1.0,1.0,...,21.0,17.0,17.0,1.0,0,NaN,0.0,0.0,0.0,0.0
1,360197,2,17,43,130.0,25.0,50.0,0.3,0.9,1.0,...,18.0,7.0,19.0,1.0,0,NaN,0.0,0.0,0.0,1.0
2,201061,2,17,45,150.0,135.0,51.0,0.5,0.5,1.0,...,21.0,18.0,24.0,1.0,0,NaN,1.0,0.0,0.0,0.0
3,586237,2,12,41,145.0,35.0,51.0,1.5,0.7,1.0,...,15.0,14.0,18.0,3.0,0,NaN,0.0,0.0,0.0,0.0
4,922457,2,9,11,150.0,35.0,51.0,1.2,1.0,1.0,...,18.0,10.0,20.0,1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,924026,2,7,41,NaN,NaN,999.0,0.8,1.2,1.0,...,36.0,48.0,17.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249996,944802,1,7,45,NaN,NaN,77.0,0.8,0.6,1.0,...,20.0,25.0,29.0,1.0,1,0.0,0.0,0.0,0.0,0.0
249997,960034,1,12,26,NaN,NaN,84.0,0.9,1.2,2.0,...,23.0,27.0,51.0,2.0,1,1.0,0.0,0.0,0.0,0.0
249998,979986,1,6,30,NaN,NaN,76.0,1.2,1.5,1.0,...,18.0,23.0,77.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249999,996778,1,6,41,NaN,NaN,76.0,1.2,1.0,1.0,...,14.0,10.0,10.0,1.0,0,NaN,0.0,0.0,0.0,0.0