In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rc('font', family='AppleGothic')

In [2]:
df1 = pd.read_csv('13_page.csv')

In [3]:
df1_1 = df1.drop('Unnamed: 0.1', axis=1)
df1_1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,2011년,Unnamed: 4,Unnamed: 5,2012년,매출액,영업이익
0,영업이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,기업명,분류,NaN,NaN,영업이,NaN,NaN,영업이 증감률,증감률
2,익순위,NaN,NaN,매출액,영업이익,NaN,매출액,영업이익,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,익률%,NaN,NaN,익률% %,%
4,1,교원구몬,1,"673,103","74,512",11.1,"653,055","77,640",11.9 -3.0,4.2
5,2,대교,1,"793,665","65,436",8.2,"771,528","40,273",5.2 -2.8,-38.5
6,3,웅진씽크빅(학습지),1,"394,630","33,683",8.5,"391,022","19,558",5.0 -0.9,-41.9
7,4,재능교육,1,"251,908","1,770",0.7,"242,530","8,321",3.4 -3.3,370.1
8,5,한솔교육,1,"246,638","-1,124",-0.5,"228,116","4,477",2.0 -7.5,흑자전환
9,6,장원교육,1,"43,895","2,795",6.4,"44,242","3,364",7.6 0.8,20.4
10,7,노벨과개미,1,"9,649","1,775",18.4,"10,146","3,190",31.4 5.2,79.7
11,8,노벨아이(교수닷컴),1,"18,413","1,096",6.0,"18,004","1,435",8.0 -2.2,30.9
12,소계 1,학습지 (8개 사),NaN,"2,431,901","179,943",7.4,"2,358,643","158,258",6.7 -3.0,-12.1
13,1,교원,2,"482,314","44,637",9.3,"487,534","50,767",10.4 1.1,13.7
14,2,웅진씽크빅(전집),2,"217,371","19,623",9.0,"205,690","13,328",9.4 -5.4,-32.1
15,3,예림당,2,"53,787","14,930",27.8,"47,996","12,786",26.6 -10.8,-14.4
16,4,프뢰벨미디어,2,"23,455","8,840",37.7,"21,527","6,536",30.4 -8.2,-26.1
17,5,재능이아카데미,2,"10,089","2,026",20.1,"11,117","2,595",23.3 10.2,28.1
18,6,삼성출판사,2,"56,384","3,643",6.5,"57,794","1,525",2.6 2.5,-58.1
19,7,한국헤르만헤세,2,"25,799","1,040",4.0,"18,805","1,317",7.0 -27.1,26.6
20,8,한국몬테소리,2,"55,314","3,138",5.7,"51,421",630,1.2 -7.0,-79.9
21,9,아가월드,2,"11,394",-47,-0.4,"12,206",503,4.1 7.1,흑자전환
22,10,베네세코리아,2,"41,651",3,0.0,"40,221",243,0.6 -3.4,"8,000.0"
23,11,프뢰벨하우스,2,"48,033",734,1.5,"42,335","-3,245",-7.7 -11.9,적자전환
24,소계 2,전집(11개 사),NaN,"1,025,591","98,567",9.6,"996,646","86,985",8.7 -2.8,-11.8
25,1,비상교육,3,"111,835","16,576",14.8,"119,403","22,038",18.5 6.8,33.0
26,2,천재교육,3,"236,886","15,286",6.5,"225,147","15,776",7.0 -5.0,3.2
27,3,미래엔,3,"120,324","9,379",7.8,"132,126","12,487",9.5 9.8,33.1
28,4,개념원리,3,"25,015","8,304",33.2,"25,020","8,475",33.9 0.0,2.1

In [4]:
col_names = df1_1.columns.tolist()
col_names

['Unnamed: 0',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 '2011년',
 'Unnamed: 4',
 'Unnamed: 5',
 '2012년',
 '매출액',
 '영업이익']

In [5]:
new_col_name = ['순위','기업명','분류','매출액_2011','영업이익_2011','영업이익률_2011',
               '매출액_2012','영업이익_2012','영업이익률','영업이익증감률']
new_col_name

['순위',
 '기업명',
 '분류',
 '매출액_2011',
 '영업이익_2011',
 '영업이익률_2011',
 '매출액_2012',
 '영업이익_2012',
 '영업이익률',
 '영업이익증감률']

In [6]:
trans_name = dict(zip(col_names, new_col_name))

In [7]:
df2 = df1_1.rename(columns=trans_name).iloc[4:].dropna()

In [8]:
def func1(row):
    return int(row.replace(',',''))

df2['매출액_2011'].apply(func1)

4     673103
5     793665
6     394630
7     251908
8     246638
9      43895
10      9649
11     18413
13    482314
14    217371
15     53787
16     23455
17     10089
18     56384
19     25799
20     55314
21     11394
22     41651
23     48033
25    111835
26    236886
27    120324
28     25015
Name: 매출액_2011, dtype: int64

In [9]:
df3 = pd.melt(df2, id_vars=['순위','기업명','분류','영업이익률','영업이익증감률'])
df3

     순위         기업명 분류       영업이익률 영업이익증감률   variable    value
0     1        교원구몬  1   11.9 -3.0     4.2   매출액_2011  673,103
1     2          대교  1    5.2 -2.8   -38.5   매출액_2011  793,665
2     3  웅진씽크빅(학습지)  1    5.0 -0.9   -41.9   매출액_2011  394,630
3     4        재능교육  1    3.4 -3.3   370.1   매출액_2011  251,908
4     5        한솔교육  1    2.0 -7.5    흑자전환   매출액_2011  246,638
..   ..         ... ..         ...     ...        ...      ...
110  11      프뢰벨하우스  2  -7.7 -11.9    적자전환  영업이익_2012   -3,245
111   1        비상교육  3    18.5 6.8    33.0  영업이익_2012   22,038
112   2        천재교육  3    7.0 -5.0     3.2  영업이익_2012   15,776
113   3         미래엔  3     9.5 9.8    33.1  영업이익_2012   12,487
114   4        개념원리  3    33.9 0.0     2.1  영업이익_2012    8,475

[115 rows x 7 columns]

In [10]:
def func2(row):
    return row.split('_')[1]

df3['연도'] = df3['variable'].apply(func2)

In [11]:
def func3(row):
    return row.split('_')[0]

df3['구분'] = df3['variable'].apply(func3)

In [12]:
cond1 = (df3['구분'] == '매출액')
df3_1 = df3.loc[cond1].rename(columns={'value':'매출액'})

In [13]:
cond1 = (df3['구분'] == '영업이익')
df3_2 = df3.loc[cond1].rename(columns={'value':'영업이익'})

In [14]:
df3_1['id'] = df3_1['기업명'] + df3_1['연도']

In [15]:
df3_2['id'] = df3_2['기업명'] + df3_2['연도']

In [16]:
df3_2

,순위,기업명,분류,영업이익률,영업이익증감률,variable,영업이익,연도,구분,id
23,1,교원구몬,1,11.9 -3.0,4.2,영업이익_2011,"74,512",2011,영업이익,교원구몬2011
24,2,대교,1,5.2 -2.8,-38.5,영업이익_2011,"65,436",2011,영업이익,대교2011
25,3,웅진씽크빅(학습지),1,5.0 -0.9,-41.9,영업이익_2011,"33,683",2011,영업이익,웅진씽크빅(학습지)2011
26,4,재능교육,1,3.4 -3.3,370.1,영업이익_2011,"1,770",2011,영업이익,재능교육2011
27,5,한솔교육,1,2.0 -7.5,흑자전환,영업이익_2011,"-1,124",2011,영업이익,한솔교육2011
28,6,장원교육,1,7.6 0.8,20.4,영업이익_2011,"2,795",2011,영업이익,장원교육2011
29,7,노벨과개미,1,31.4 5.2,79.7,영업이익_2011,"1,775",2011,영업이익,노벨과개미2011
30,8,노벨아이(교수닷컴),1,8.0 -2.2,30.9,영업이익_2011,"1,096",2011,영업이익,노벨아이(교수닷컴)2011
31,1,교원,2,10.4 1.1,13.7,영업이익_2011,"44,637",2011,영업이익,교원2011
32,2,웅진씽크빅(전집),2,9.4 -5.4,-32.1,영업이익_2011,"19,623",2011,영업이익,웅진씽크빅(전집)2011
33,3,예림당,2,26.6 -10.8,-14.4,영업이익_2011,"14,930",2011,영업이익,예림당2011
34,4,프뢰벨미디어,2,30.4 -8.2,-26.1,영업이익_2011,"8,840",2011,영업이익,프뢰벨미디어2011
35,5,재능이아카데미,2,23.3 10.2,28.1,영업이익_2011,"2,026",2011,영업이익,재능이아카데미2011
36,6,삼성출판사,2,2.6 2.5,-58.1,영업이익_2011,"3,643",2011,영업이익,삼성출판사2011
37,7,한국헤르만헤세,2,7.0 -27.1,26.6,영업이익_2011,"1,040",2011,영업이익,한국헤르만헤세2011
38,8,한국몬테소리,2,1.2 -7.0,-79.9,영업이익_2011,"3,138",2011,영업이익,한국몬테소리2011
39,9,아가월드,2,4.1 7.1,흑자전환,영업이익_2011,-47,2011,영업이익,아가월드2011
40,10,베네세코리아,2,0.6 -3.4,"8,000.0",영업이익_2011,3,2011,영업이익,베네세코리아2011
41,11,프뢰벨하우스,2,-7.7 -11.9,적자전환,영업이익_2011,734,2011,영업이익,프뢰벨하우스2011
42,1,비상교육,3,18.5 6.8,33.0,영업이익_2011,"16,576",2011,영업이익,비상교육2011
43,2,천재교육,3,7.0 -5.0,3.2,영업이익_2011,"15,286",2011,영업이익,천재교육2011
44,3,미래엔,3,9.5 9.8,33.1,영업이익_2011,"9,379",2011,영업이익,미래엔2011
45,4,개념원리,3,33.9 0.0,2.1,영업이익_2011,"8,304",2011,영업이익,개념원리2011
92,1,교원구몬,1,11.9 -3.0,4.2,영업이익_2012,"77,640",2012,영업이익,교원구몬2012
93,2,대교,1,5.2 -2.8,-38.5,영업이익_2012,"40,273",2012,영업이익,대교2012
94,3,웅진씽크빅(학습지),1,5.0 -0.9,-41.9,영업이익_2012,"19,558",2012,영업이익,웅진씽크빅(학습지)2012
95,4,재능교육,1,3.4 -3.3,370.1,영업이익_2012,"8,321",2012,영업이익,재능교육2012
96,5,한솔교육,1,2.0 -7.5,흑자전환,영업이익_2012,"4,477",2012,영업이익,한솔교육2012
97,6,장원교육,1,7.6 0.8,20.4,영업이익_2012,"3,364",2012,영업이익,장원교육2012
98,7,노벨과개미,1,31.4 5.2,79.7,영업이익_2012,"3,190",2012,영업이익,노벨과개미2012
99,8,노벨아이(교수닷컴),1,8.0 -2.2,30.9,영업이익_2012,"1,435",2012,영업이익,노벨아이(교수닷컴)2012
100,1,교원,2,10.4 1.1,13.7,영업이익_2012,"50,767",2012,영업이익,교원2012
101,2,웅진씽크빅(전집),2,9.4 -5.4,-32.1,영업이익_2012,"13,328",2012,영업이익,웅진씽크빅(전집)2012
102,3,예림당,2,26.6 -10.8,-14.4,영업이익_2012,"12,786",2012,영업이익,예림당2012
103,4,프뢰벨미디어,2,30.4 -8.2,-26.1,영업이익_2012,"6,536",2012,영업이익,프뢰벨미디어2012
104,5,재능이아카데미,2,23.3 10.2,28.1,영업이익_2012,"2,595",2012,영업이익,재능이아카데미2012
105,6,삼성출판사,2,2.6 2.5,-58.1,영업이익_2012,"1,525",2012,영업이익,삼성출판사2012
106,7,한국헤르만헤세,2,7.0 -27.1,26.6,영업이익_2012,"1,317",2012,영업이익,한국헤르만헤세2012
107,8,한국몬테소리,2,1.2 -7.0,-79.9,영업이익_2012,630,2012,영업이익,한국몬테소리2012
108,9,아가월드,2,4.1 7.1,흑자전환,영업이익_2012,503,2012,영업이익,아가월드2012
109,10,베네세코리아,2,0.6 -3.4,"8,000.0",영업이익_2012,243,2012,영업이익,베네세코리아2012
110,11,프뢰벨하우스,2,-7.7 -11.9,적자전환,영업이익_2012,"-3,245",2012,영업이익,프뢰벨하우스2012
111,1,비상교육,3,18.5 6.8,33.0,영업이익_2012,"22,038",2012,영업이익,비상교육2012
112,2,천재교육,3,7.0 -5.0,3.2,영업이익_2012,"15,776",2012,영업이익,천재교육2012
113,3,미래엔,3,9.5 9.8,33.1,영업이익_2012,"12,487",2012,영업이익,미래엔2012
114,4,개념원리,3,33.9 0.0,2.1,영업이익_2012,"8,475",2012,영업이익,개념원리2012

In [17]:
df4 = pd.merge(df3_1, df3_2, on='id', suffixes=('','_drop'))

In [18]:
df5 = df4[['순위','기업명','분류','연도','매출액','영업이익']]
df5

    순위         기업명 분류    연도      매출액    영업이익
0    1        교원구몬  1  2011  673,103  74,512
1    2          대교  1  2011  793,665  65,436
2    3  웅진씽크빅(학습지)  1  2011  394,630  33,683
3    4        재능교육  1  2011  251,908   1,770
4    5        한솔교육  1  2011  246,638  -1,124
5    6        장원교육  1  2011   43,895   2,795
6    7       노벨과개미  1  2011    9,649   1,775
7    8  노벨아이(교수닷컴)  1  2011   18,413   1,096
8    1          교원  2  2011  482,314  44,637
9    2   웅진씽크빅(전집)  2  2011  217,371  19,623
10   3         예림당  2  2011   53,787  14,930
11   4      프뢰벨미디어  2  2011   23,455   8,840
12   5     재능이아카데미  2  2011   10,089   2,026
13   6       삼성출판사  2  2011   56,384   3,643
14   7     한국헤르만헤세  2  2011   25,799   1,040
15   8      한국몬테소리  2  2011   55,314   3,138
16   9        아가월드  2  2011   11,394     -47
17  10      베네세코리아  2  2011   41,651       3
18  11      프뢰벨하우스  2  2011   48,033     734
19   1        비상교육  3  2011  111,835  16,576
20   2        천재교육  3  2011  236,886  15,286
21   3         미래엔  3  2011  120,324   9,379
22   4        개념원리  3  2011   25,015   8,304
23   1        교원구몬  1  2012  653,055  77,640
24   2          대교  1  2012  771,528  40,273
25   3  웅진씽크빅(학습지)  1  2012  391,022  19,558
26   4        재능교육  1  2012  242,530   8,321
27   5        한솔교육  1  2012  228,116   4,477
28   6        장원교육  1  2012   44,242   3,364
29   7       노벨과개미  1  2012   10,146   3,190
30   8  노벨아이(교수닷컴)  1  2012   18,004   1,435
31   1          교원  2  2012  487,534  50,767
32   2   웅진씽크빅(전집)  2  2012  205,690  13,328
33   3         예림당  2  2012   47,996  12,786
34   4      프뢰벨미디어  2  2012   21,527   6,536
35   5     재능이아카데미  2  2012   11,117   2,595
36   6       삼성출판사  2  2012   57,794   1,525
37   7     한국헤르만헤세  2  2012   18,805   1,317
38   8      한국몬테소리  2  2012   51,421     630
39   9        아가월드  2  2012   12,206     503
40  10      베네세코리아  2  2012   40,221     243
41  11      프뢰벨하우스  2  2012   42,335  -3,245
42   1        비상교육  3  2012  119,403  22,038
43   2        천재교육  3  2012  225,147  15,776
44   3         미래엔  3  2012  132,126  12,487
45   4        개념원리  3  2012   25,020   8,475

In [19]:
df5['매출액(int)'] = df5['매출액'].apply(func1)
df5['영업이익(int)'] = df5['영업이익'].apply(func1)

/var/folders/jk/39vchm610gncrh7q8gt2gmk00000gn/T/ipykernel_15587/2531553757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['매출액(int)'] = df5['매출액'].apply(func1)
/var/folders/jk/39vchm610gncrh7q8gt2gmk00000gn/T/ipykernel_15587/2531553757.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['영업이익(int)'] = df5['영업이익'].apply(func1)

In [20]:
df5

    순위         기업명 분류    연도      매출액    영업이익  매출액(int)  영업이익(int)
0    1        교원구몬  1  2011  673,103  74,512    673103      74512
1    2          대교  1  2011  793,665  65,436    793665      65436
2    3  웅진씽크빅(학습지)  1  2011  394,630  33,683    394630      33683
3    4        재능교육  1  2011  251,908   1,770    251908       1770
4    5        한솔교육  1  2011  246,638  -1,124    246638      -1124
5    6        장원교육  1  2011   43,895   2,795     43895       2795
6    7       노벨과개미  1  2011    9,649   1,775      9649       1775
7    8  노벨아이(교수닷컴)  1  2011   18,413   1,096     18413       1096
8    1          교원  2  2011  482,314  44,637    482314      44637
9    2   웅진씽크빅(전집)  2  2011  217,371  19,623    217371      19623
10   3         예림당  2  2011   53,787  14,930     53787      14930
11   4      프뢰벨미디어  2  2011   23,455   8,840     23455       8840
12   5     재능이아카데미  2  2011   10,089   2,026     10089       2026
13   6       삼성출판사  2  2011   56,384   3,643     56384       3643
14   7     한국헤르만헤세  2  2011   25,799   1,040     25799       1040
15   8      한국몬테소리  2  2011   55,314   3,138     55314       3138
16   9        아가월드  2  2011   11,394     -47     11394        -47
17  10      베네세코리아  2  2011   41,651       3     41651          3
18  11      프뢰벨하우스  2  2011   48,033     734     48033        734
19   1        비상교육  3  2011  111,835  16,576    111835      16576
20   2        천재교육  3  2011  236,886  15,286    236886      15286
21   3         미래엔  3  2011  120,324   9,379    120324       9379
22   4        개념원리  3  2011   25,015   8,304     25015       8304
23   1        교원구몬  1  2012  653,055  77,640    653055      77640
24   2          대교  1  2012  771,528  40,273    771528      40273
25   3  웅진씽크빅(학습지)  1  2012  391,022  19,558    391022      19558
26   4        재능교육  1  2012  242,530   8,321    242530       8321
27   5        한솔교육  1  2012  228,116   4,477    228116       4477
28   6        장원교육  1  2012   44,242   3,364     44242       3364
29   7       노벨과개미  1  2012   10,146   3,190     10146       3190
30   8  노벨아이(교수닷컴)  1  2012   18,004   1,435     18004       1435
31   1          교원  2  2012  487,534  50,767    487534      50767
32   2   웅진씽크빅(전집)  2  2012  205,690  13,328    205690      13328
33   3         예림당  2  2012   47,996  12,786     47996      12786
34   4      프뢰벨미디어  2  2012   21,527   6,536     21527       6536
35   5     재능이아카데미  2  2012   11,117   2,595     11117       2595
36   6       삼성출판사  2  2012   57,794   1,525     57794       1525
37   7     한국헤르만헤세  2  2012   18,805   1,317     18805       1317
38   8      한국몬테소리  2  2012   51,421     630     51421        630
39   9        아가월드  2  2012   12,206     503     12206        503
40  10      베네세코리아  2  2012   40,221     243     40221        243
41  11      프뢰벨하우스  2  2012   42,335  -3,245     42335      -3245
42   1        비상교육  3  2012  119,403  22,038    119403      22038
43   2        천재교육  3  2012  225,147  15,776    225147      15776
44   3         미래엔  3  2012  132,126  12,487    132126      12487
45   4        개념원리  3  2012   25,020   8,475     25020       8475

In [42]:
df1_1 = pd.read_csv('14_page.csv')

In [43]:
df1_1_1 = df1_1.drop('Unnamed: 0.1', axis=1)
df1_1_1

,영업이\r익순위,기업명,분류,2011년,2012년,매출액\r증감률\r%,영업이익\r증감률\r%,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,매출액,영업이익,영업이\r익률%,매출액,영업이익,영업이\r익률%,NaN,NaN
1,5,좋은책(11월결산),3.0,"59,493","13,260",22.3,"54,709","7,856",14.4,-8.0,-40.8
2,6,지학사,3.0,"40,428","3,824",9.5,"40,432","3,842",9.5,0.0,0.5
3,7,도서출판디딤돌,3.0,"20,014","-1,933",-9.7,"23,056","2,541",11.0,15.2,흑자전환
4,8,기탄교육,3.0,"23,875",-537,-2.2,"20,415","2,521",12.3,-14.5,흑자전환
5,9,능률교육,3.0,"48,236","5,401",11.2,"51,714","1,551",3.0,7.2,-71.3
6,10,하늘교육,3.0,"37,806",634,1.7,"37,649","1,155",3.1,-0.4,82.2
7,11,한국맥그로힐,3.0,"6,978",933,13.4,"7,476","1,052",14.1,7.1,12.8
8,12,비상이에스엔*,3.0,"15,926",655,4.1,"12,923",798,6.2,-18.9,21.8
9,13,대성교육출판,3.0,"7,307","1,143",15.6,"5,526",731,13.2,-24.4,-36.0
10,14,아이템플(6월결산),3.0,"2,719",-105,-3.9,"1,510",-93,-6.2,-44.5,적자축소
11,15,금성출판사,3.0,"131,983","-1,777",-1.3,"123,341",-132,-0.1,-6.5,적자축소
12,16,이퓨쳐,3.0,"7,729",-422,-5.5,"7,392",-133,-1.8,-4.4,적자축소
13,17,동화사,3.0,"7,986",218,2.7,"6,116",-180,-2.9,-23.4,적자전환
14,18,두산동아,3.0,"242,270","14,898",6.1,"196,958","-2,107",-1.1,-18.7,적자전환
15,19,교학사,3.0,"47,905","1,728",3.6,"54,759","-2,382",-4.3,14.3,적자전환
16,20,천재문화,3.0,"8,805",-159,-1.8,"6,836","-2,611",-38.2,-22.4,적자확대
17,21,EBS[출판사업],3.0,"103,227",931,0.9,"99,100","-16,200",-16.3,-4.0,적자전환
18,소계 3,학참(EBS 포함),NaN,"1,306,747","88,237",6.8,"1,251,608","56,985",4.6,-4.2,-35.4
19,소계 3,학참(EBS 제외),NaN,"1,203,520","87,306",7.3,"1,152,508","73,185",6.4,-4.2,-16.2
20,1,북이십일,4.0,"26,098","1,558",6,"30,118","3,041",10.1,15.4,95.2
21,2,시공사,4.0,"42,185","1,247",3.0,"44,277","3,010",6.8,5.0,141.4
22,3,문학동네,4.0,"23,015","1,888",8.2,"26,934","2,867",10.6,17.0,51.9
23,4,창비,4.0,"30,039","5,444",18.1,"24,485","2,029",8.3,-18.5,-62.7
24,5,성지출판,4.0,"12,500","3,144",25.2,"8,953","1,764",19.7,-28.4,-43.9
25,6,김영사,4.0,"35,785","1,960",5.5,"34,966","1,720",4.9,-2.3,-12.2
26,7,학지사,4.0,"13,566","1,364",10.1,"13,687","1,528",11.2,0.9,12.0
27,8,알에이치코리아,4.0,"18,367","1,764",9.6,"17,287","1,507",8.7,-5.9,-14.6
28,9,다산북스,4.0,"13,745","1,665",12.1,"12,509","1,430",11.4,-9.0,-14.1
29,10,계림북스,4.0,"6,479",367,5.7,"6,386",920,14.4,-1.4,150.7
30,11,도서출판길벗,4.0,"9,576",865,9.0,"10,697",906,8.5,11.7,4.7
31,12,박영사,4.0,"9,855",253,2.6,"12,078",796,6.6,22.6,214.6
32,13,아가페출판사,4.0,"10,465","1,107",10.6,"10,154",565,5.6,-3.0,-49.0
33,14,위즈덤하우스,4.0,"21,458",319,1.5,"20,884",426,2.0,-2.7,33.5
34,15,피어슨에듀케이션,4.0,"11,077",-902,-8.1,"13,172",420,3.2,18.9,흑자전환
35,16,넥서스,4.0,"17,883","1,802",10.1,"13,880",293,2.1,-22.4,-83.7
36,17,민음사,4.0,"17,345","3,669",21.2,"15,107",241,1.6,-12.9,-93.4
37,18,민음인,4.0,"3,625",-110,-3.0,"3,954",215,5.4,9.1,흑자전환
38,19,살림출판사,4.0,"8,431",507,6.0,"5,946",135,2.3,-29.5,-73.4
39,20,한언,4.0,"1,435",71,4.9,"1,429",100,7.0,-0.4,40.8
40,21,사계절출판사,4.0,"9,769",855,8.8,"8,115",68,0.8,-16.9,-92.0
41,22,언어세상,4.0,"20,002","2,405",12.0,"16,062",62,0.4,-19.7,-97.4
42,23,열린책들,4.0,"7,945",-292,-3.7,"5,650",-70,-1.2,-28.9,적자축소
43,24,도서출판삼성당,4.0,"2,391",15,0.6,"2,078",-384,-18.5,-13.1,적자전환

In [44]:
col_names = df1_1_1.columns.tolist()
col_names

['영업이\r익순위',
 '기업명',
 '분류',
 '2011년',
 '2012년',
 '매출액\r증감률\r%',
 '영업이익\r증감률\r%',
 'Unnamed: 0',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3']

In [45]:
new_col_name = ['순위','기업명','분류','매출액_2011','영업이익_2011','영업이익률_2011',
               '매출액_2012','영업이익_2012','영업이익률_2012','영업이익률','영업이익증감률']
new_col_name

['순위',
 '기업명',
 '분류',
 '매출액_2011',
 '영업이익_2011',
 '영업이익률_2011',
 '매출액_2012',
 '영업이익_2012',
 '영업이익률_2012',
 '영업이익률',
 '영업이익증감률']

In [46]:
trans_name = dict(zip(col_names, new_col_name))

In [48]:
df2_2 = df1_1_1.rename(columns=trans_name).iloc[1:].dropna()

In [50]:
df2_2['매출액_2011'].apply(func1)

1      59493
2      40428
3      20014
4      23875
5      48236
6      37806
7       6978
8      15926
9       7307
10      2719
11    131983
12      7729
13      7986
14    242270
15     47905
16      8805
17    103227
20     26098
21     42185
22     23015
23     30039
24     12500
25     35785
26     13566
27     18367
28     13745
29      6479
30      9576
31      9855
32     10465
33     21458
34     11077
35     17883
36     17345
37      3625
38      8431
39      1435
40      9769
41     20002
42      7945
43      2391
Name: 매출액_2011, dtype: int64

In [52]:
df3_1 = pd.melt(df2_2, id_vars=['순위','기업명','분류','영업이익률','영업이익증감률'])
df3_1

     순위         기업명   분류  영업이익률 영업이익증감률    variable   value
0     5  좋은책(11월결산)  3.0   -8.0   -40.8    매출액_2011  59,493
1     6         지학사  3.0    0.0     0.5    매출액_2011  40,428
2     7     도서출판디딤돌  3.0   15.2    흑자전환    매출액_2011  20,014
3     8        기탄교육  3.0  -14.5    흑자전환    매출액_2011  23,875
4     9        능률교육  3.0    7.2   -71.3    매출액_2011  48,236
..   ..         ...  ...    ...     ...         ...     ...
241  20          한언  4.0   -0.4    40.8  영업이익률_2012     7.0
242  21      사계절출판사  4.0  -16.9   -92.0  영업이익률_2012     0.8
243  22        언어세상  4.0  -19.7   -97.4  영업이익률_2012     0.4
244  23        열린책들  4.0  -28.9    적자축소  영업이익률_2012    -1.2
245  24     도서출판삼성당  4.0  -13.1    적자전환  영업이익률_2012   -18.5

[246 rows x 7 columns]

In [53]:
df3_1['연도'] = df3_1['variable'].apply(func2)
df3_1['구분'] = df3_1['variable'].apply(func3)

In [54]:
cond1 = (df3_1['구분'] == '매출액')
df3_1_1 = df3_1.loc[cond1].rename(columns={'value':'매출액'})

In [55]:
cond1 = (df3_1['구분'] == '영업이익')
df3_1_2 = df3_1.loc[cond1].rename(columns={'value':'영업이익'})

In [56]:
df3_1_1['id'] = df3_1_1['기업명'] + df3_1_1['연도']
df3_1_2['id'] = df3_1_2['기업명'] + df3_1_2['연도']

In [58]:
df4_1 = pd.merge(df3_1_1, df3_1_2, on='id', suffixes=('','_drop'))

In [59]:
df5_1 = df4_1[['순위','기업명','분류','연도','매출액','영업이익']]
df5_1

    순위         기업명   분류    연도     매출액    영업이익
0    5  좋은책(11월결산)  3.0  2011  59,493  13,260
1    6         지학사  3.0  2011  40,428   3,824
2    7     도서출판디딤돌  3.0  2011  20,014  -1,933
3    8        기탄교육  3.0  2011  23,875    -537
4    9        능률교육  3.0  2011  48,236   5,401
..  ..         ...  ...   ...     ...     ...
77  20          한언  4.0  2012   1,429     100
78  21      사계절출판사  4.0  2012   8,115      68
79  22        언어세상  4.0  2012  16,062      62
80  23        열린책들  4.0  2012   5,650     -70
81  24     도서출판삼성당  4.0  2012   2,078    -384

[82 rows x 6 columns]

In [60]:
df5_1['매출액(int)'] = df5_1['매출액'].apply(func1)
df5_1['영업이익(int)'] = df5_1['영업이익'].apply(func1)

/var/folders/jk/39vchm610gncrh7q8gt2gmk00000gn/T/ipykernel_15587/3746740529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5_1['매출액(int)'] = df5_1['매출액'].apply(func1)
/var/folders/jk/39vchm610gncrh7q8gt2gmk00000gn/T/ipykernel_15587/3746740529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5_1['영업이익(int)'] = df5_1['영업이익'].apply(func1)

In [61]:
df5_1

    순위         기업명   분류    연도     매출액    영업이익  매출액(int)  영업이익(int)
0    5  좋은책(11월결산)  3.0  2011  59,493  13,260     59493      13260
1    6         지학사  3.0  2011  40,428   3,824     40428       3824
2    7     도서출판디딤돌  3.0  2011  20,014  -1,933     20014      -1933
3    8        기탄교육  3.0  2011  23,875    -537     23875       -537
4    9        능률교육  3.0  2011  48,236   5,401     48236       5401
..  ..         ...  ...   ...     ...     ...       ...        ...
77  20          한언  4.0  2012   1,429     100      1429        100
78  21      사계절출판사  4.0  2012   8,115      68      8115         68
79  22        언어세상  4.0  2012  16,062      62     16062         62
80  23        열린책들  4.0  2012   5,650     -70      5650        -70
81  24     도서출판삼성당  4.0  2012   2,078    -384      2078       -384

[82 rows x 8 columns]

In [62]:
df6 = pd.read_csv('15_page.csv')

In [64]:
df6_1 = df6.drop('Unnamed: 0.1', axis=1)

In [68]:
col_name = df6_1.columns.tolist()
col_name
df6_1

,영업이\r익순위,기업명,분류,2011년,2012년,매출액\r증감률\r%,영업이익\r증감률\r%,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,매출액,영업이익,영업이\r익률%,매출액,영업이익,영업이\r익률%,NaN,NaN
1,25,영림카디널,4,"1,052",-407,-38.7,"1,022",-392,-38.4,-2.9,적자축소
2,26,영진닷컴,4,"8,072",486,6.0,"6,748","-1,325",-19.6,-16.4,적자전환
3,27,비룡소,4,"15,247","-1,175",-7.7,"13,445","-2,020",-15.0,-11.8,적자확대
4,28,웅진씽크빅(단행본),4,"63,461","-2,215",-3.5,"40,078","-10,395",-25.9,-36.8,적자확대
5,소계 4,단행본( 28개 사),NaN,"460,868","27,654",6.0,"420,101","9,457",2.3,-8.8,-65.8
6,1,와이비엠,5,"163,894","47,497",29.0,"167,185","49,327",29.5,2.0,3.9
7,2,현대영어사,5,"59,447","16,665",28,"49,227","12,623",25.6,-17.2,-24.3
8,3,해커스어학연구소,5,"29,084","16,063",55.2,"27,939","11,795",42.2,-3.9,-26.6
9,4,와이비엠시사닷컴,5,"103,141","8,601",8.3,"96,069","2,794",2.9,-6.9,-67.5
10,5,서울문화사,5,"52,456","4,967",9.5,"54,234","1,687",3.1,3.4,-66.0
11,6,잉글리쉬무무,5,"21,455","2,950",13.7,"19,134","1,321",6.9,-10.8,-55.2
12,7,시사일본어학원,5,"10,340",498,4.8,"8,437","1,281",15.2,-18.4,157.2
13,8,창의와탐구,5,"22,150",-735,-3.3,"20,409",830,4.1,-7.9,흑자전환
14,9,학산문화사,5,"24,436",729,3.0,"20,109",523,2.6,-17.7,-28.3
15,10,와이비엠시사,5,"42,699",-935,-2.2,"40,630",-934,-2.3,-4.8,적자축소
16,11,지앤비영어전문교\r육,5,"28,816",140,0.5,"24,206","-1,087",-4.5,-16.0,적자전환
17,12,튼튼영어,5,"34,854",-718,-2.1,"33,345","-1,635",-4.9,-4.3,적자확대
18,13,한국전화번호부,5,"17,140",728,4.2,"12,172","-8,065",-66.3,-29,적자전환
19,14,웅진씽크빅(기타),5,"75,947","-17,911",-23.6,"75,310","-15,516",-20.6,-0.8,적자축소
20,소계 5,기타(14개 사),NaN,"685,859","78,539",11.5,"648,406","54,944",8.5,-5.5,-30.0
21,합계1 (EBS 포함),NaN,"5,910,966","474,426",8.0,"5,675,404","366,599",6.5,-4.0,-22.7,NaN
22,합계2 (EBS 제외)),NaN,"5,807,739","473,495",8.2,"5,576,304","382,799",6.9,-4.0,-19.2,NaN
23,열외,더텍스트(‘12.3.30.),4,-,-,-,"1,845",632,34.3,-,-

In [69]:
new_col_name = ['순위','기업명','분류','매출액_2011','영업이익_2011','영업이익률_2011','매출액_2012',
               '영업이익_2012','영업이익률_2012','영업이익률','영업이익증감률']
new_col_name

['순위',
 '기업명',
 '분류',
 '매출액_2011',
 '영업이익_2011',
 '영업이익률_2011',
 '매출액_2012',
 '영업이익_2012',
 '영업이익률_2012',
 '영업이익률',
 '영업이익증감률']

In [70]:
trans_name = dict(zip(col_names, new_col_name))

In [106]:
df7 = df6_1.rename(columns=trans_name).iloc[1:].dropna()
df7_1 = df7.iloc[:-1]

In [109]:
df7_1

,순위,기업명,분류,매출액_2011,영업이익_2011,영업이익률_2011,매출액_2012,영업이익_2012,영업이익률_2012,영업이익률,영업이익증감률
1,25,영림카디널,4,"1,052",-407,-38.7,"1,022",-392,-38.4,-2.9,적자축소
2,26,영진닷컴,4,"8,072",486,6.0,"6,748","-1,325",-19.6,-16.4,적자전환
3,27,비룡소,4,"15,247","-1,175",-7.7,"13,445","-2,020",-15.0,-11.8,적자확대
4,28,웅진씽크빅(단행본),4,"63,461","-2,215",-3.5,"40,078","-10,395",-25.9,-36.8,적자확대
6,1,와이비엠,5,"163,894","47,497",29.0,"167,185","49,327",29.5,2.0,3.9
7,2,현대영어사,5,"59,447","16,665",28,"49,227","12,623",25.6,-17.2,-24.3
8,3,해커스어학연구소,5,"29,084","16,063",55.2,"27,939","11,795",42.2,-3.9,-26.6
9,4,와이비엠시사닷컴,5,"103,141","8,601",8.3,"96,069","2,794",2.9,-6.9,-67.5
10,5,서울문화사,5,"52,456","4,967",9.5,"54,234","1,687",3.1,3.4,-66.0
11,6,잉글리쉬무무,5,"21,455","2,950",13.7,"19,134","1,321",6.9,-10.8,-55.2
12,7,시사일본어학원,5,"10,340",498,4.8,"8,437","1,281",15.2,-18.4,157.2
13,8,창의와탐구,5,"22,150",-735,-3.3,"20,409",830,4.1,-7.9,흑자전환
14,9,학산문화사,5,"24,436",729,3.0,"20,109",523,2.6,-17.7,-28.3
15,10,와이비엠시사,5,"42,699",-935,-2.2,"40,630",-934,-2.3,-4.8,적자축소
16,11,지앤비영어전문교\r육,5,"28,816",140,0.5,"24,206","-1,087",-4.5,-16.0,적자전환
17,12,튼튼영어,5,"34,854",-718,-2.1,"33,345","-1,635",-4.9,-4.3,적자확대
18,13,한국전화번호부,5,"17,140",728,4.2,"12,172","-8,065",-66.3,-29,적자전환
19,14,웅진씽크빅(기타),5,"75,947","-17,911",-23.6,"75,310","-15,516",-20.6,-0.8,적자축소

In [110]:
df7_1['매출액_2011'].apply(func1)

1       1052
2       8072
3      15247
4      63461
6     163894
7      59447
8      29084
9     103141
10     52456
11     21455
12     10340
13     22150
14     24436
15     42699
16     28816
17     34854
18     17140
19     75947
Name: 매출액_2011, dtype: int64

In [112]:
df8 = pd.melt(df7_1, id_vars=['순위','기업명','분류','영업이익률','영업이익증감률'])
df8

     순위          기업명 분류  영업이익률 영업이익증감률    variable    value
0    25        영림카디널  4   -2.9    적자축소    매출액_2011    1,052
1    26         영진닷컴  4  -16.4    적자전환    매출액_2011    8,072
2    27          비룡소  4  -11.8    적자확대    매출액_2011   15,247
3    28   웅진씽크빅(단행본)  4  -36.8    적자확대    매출액_2011   63,461
4     1         와이비엠  5    2.0     3.9    매출액_2011  163,894
..   ..          ... ..    ...     ...         ...      ...
103  10       와이비엠시사  5   -4.8    적자축소  영업이익률_2012     -2.3
104  11  지앤비영어전문교\r육  5  -16.0    적자전환  영업이익률_2012     -4.5
105  12         튼튼영어  5   -4.3    적자확대  영업이익률_2012     -4.9
106  13      한국전화번호부  5    -29    적자전환  영업이익률_2012    -66.3
107  14    웅진씽크빅(기타)  5   -0.8    적자축소  영업이익률_2012    -20.6

[108 rows x 7 columns]

In [113]:
df8['연도'] = df8['variable'].apply(func2)
df8['구분'] = df8['variable'].apply(func3)

In [114]:
cond1 = (df8['구분'] == '매출액')
df8_1 = df8.loc[cond1].rename(columns={'value':'매출액'})

In [115]:
cond1 = (df8['구분'] == '영업이익')
df8_2 = df8.loc[cond1].rename(columns={'value':'영업이익'})

In [116]:
df8_1['id'] = df8_1['기업명'] + df8_1['연도']

In [117]:
df8_2['id'] = df8_2['기업명'] + df8_2['연도']

In [118]:
df8_2

,순위,기업명,분류,영업이익률,영업이익증감률,variable,영업이익,연도,구분,id
18,25,영림카디널,4,-2.9,적자축소,영업이익_2011,-407,2011,영업이익,영림카디널2011
19,26,영진닷컴,4,-16.4,적자전환,영업이익_2011,486,2011,영업이익,영진닷컴2011
20,27,비룡소,4,-11.8,적자확대,영업이익_2011,"-1,175",2011,영업이익,비룡소2011
21,28,웅진씽크빅(단행본),4,-36.8,적자확대,영업이익_2011,"-2,215",2011,영업이익,웅진씽크빅(단행본)2011
22,1,와이비엠,5,2.0,3.9,영업이익_2011,"47,497",2011,영업이익,와이비엠2011
23,2,현대영어사,5,-17.2,-24.3,영업이익_2011,"16,665",2011,영업이익,현대영어사2011
24,3,해커스어학연구소,5,-3.9,-26.6,영업이익_2011,"16,063",2011,영업이익,해커스어학연구소2011
25,4,와이비엠시사닷컴,5,-6.9,-67.5,영업이익_2011,"8,601",2011,영업이익,와이비엠시사닷컴2011
26,5,서울문화사,5,3.4,-66.0,영업이익_2011,"4,967",2011,영업이익,서울문화사2011
27,6,잉글리쉬무무,5,-10.8,-55.2,영업이익_2011,"2,950",2011,영업이익,잉글리쉬무무2011
28,7,시사일본어학원,5,-18.4,157.2,영업이익_2011,498,2011,영업이익,시사일본어학원2011
29,8,창의와탐구,5,-7.9,흑자전환,영업이익_2011,-735,2011,영업이익,창의와탐구2011
30,9,학산문화사,5,-17.7,-28.3,영업이익_2011,729,2011,영업이익,학산문화사2011
31,10,와이비엠시사,5,-4.8,적자축소,영업이익_2011,-935,2011,영업이익,와이비엠시사2011
32,11,지앤비영어전문교\r육,5,-16.0,적자전환,영업이익_2011,140,2011,영업이익,지앤비영어전문교\r육2011
33,12,튼튼영어,5,-4.3,적자확대,영업이익_2011,-718,2011,영업이익,튼튼영어2011
34,13,한국전화번호부,5,-29,적자전환,영업이익_2011,728,2011,영업이익,한국전화번호부2011
35,14,웅진씽크빅(기타),5,-0.8,적자축소,영업이익_2011,"-17,911",2011,영업이익,웅진씽크빅(기타)2011
72,25,영림카디널,4,-2.9,적자축소,영업이익_2012,-392,2012,영업이익,영림카디널2012
73,26,영진닷컴,4,-16.4,적자전환,영업이익_2012,"-1,325",2012,영업이익,영진닷컴2012
74,27,비룡소,4,-11.8,적자확대,영업이익_2012,"-2,020",2012,영업이익,비룡소2012
75,28,웅진씽크빅(단행본),4,-36.8,적자확대,영업이익_2012,"-10,395",2012,영업이익,웅진씽크빅(단행본)2012
76,1,와이비엠,5,2.0,3.9,영업이익_2012,"49,327",2012,영업이익,와이비엠2012
77,2,현대영어사,5,-17.2,-24.3,영업이익_2012,"12,623",2012,영업이익,현대영어사2012
78,3,해커스어학연구소,5,-3.9,-26.6,영업이익_2012,"11,795",2012,영업이익,해커스어학연구소2012
79,4,와이비엠시사닷컴,5,-6.9,-67.5,영업이익_2012,"2,794",2012,영업이익,와이비엠시사닷컴2012
80,5,서울문화사,5,3.4,-66.0,영업이익_2012,"1,687",2012,영업이익,서울문화사2012
81,6,잉글리쉬무무,5,-10.8,-55.2,영업이익_2012,"1,321",2012,영업이익,잉글리쉬무무2012
82,7,시사일본어학원,5,-18.4,157.2,영업이익_2012,"1,281",2012,영업이익,시사일본어학원2012
83,8,창의와탐구,5,-7.9,흑자전환,영업이익_2012,830,2012,영업이익,창의와탐구2012
84,9,학산문화사,5,-17.7,-28.3,영업이익_2012,523,2012,영업이익,학산문화사2012
85,10,와이비엠시사,5,-4.8,적자축소,영업이익_2012,-934,2012,영업이익,와이비엠시사2012
86,11,지앤비영어전문교\r육,5,-16.0,적자전환,영업이익_2012,"-1,087",2012,영업이익,지앤비영어전문교\r육2012
87,12,튼튼영어,5,-4.3,적자확대,영업이익_2012,"-1,635",2012,영업이익,튼튼영어2012
88,13,한국전화번호부,5,-29,적자전환,영업이익_2012,"-8,065",2012,영업이익,한국전화번호부2012
89,14,웅진씽크빅(기타),5,-0.8,적자축소,영업이익_2012,"-15,516",2012,영업이익,웅진씽크빅(기타)2012

In [119]:
df9 = pd.merge(df8_1, df8_2, on='id', suffixes=('','_drop'))

In [120]:
df10 = df9[['순위','기업명','분류','연도','매출액','영업이익']]
df10

    순위          기업명 분류    연도      매출액     영업이익
0   25        영림카디널  4  2011    1,052     -407
1   26         영진닷컴  4  2011    8,072      486
2   27          비룡소  4  2011   15,247   -1,175
3   28   웅진씽크빅(단행본)  4  2011   63,461   -2,215
4    1         와이비엠  5  2011  163,894   47,497
5    2        현대영어사  5  2011   59,447   16,665
6    3     해커스어학연구소  5  2011   29,084   16,063
7    4     와이비엠시사닷컴  5  2011  103,141    8,601
8    5        서울문화사  5  2011   52,456    4,967
9    6       잉글리쉬무무  5  2011   21,455    2,950
10   7      시사일본어학원  5  2011   10,340      498
11   8        창의와탐구  5  2011   22,150     -735
12   9        학산문화사  5  2011   24,436      729
13  10       와이비엠시사  5  2011   42,699     -935
14  11  지앤비영어전문교\r육  5  2011   28,816      140
15  12         튼튼영어  5  2011   34,854     -718
16  13      한국전화번호부  5  2011   17,140      728
17  14    웅진씽크빅(기타)  5  2011   75,947  -17,911
18  25        영림카디널  4  2012    1,022     -392
19  26         영진닷컴  4  2012    6,748   -1,325
20  27          비룡소  4  2012   13,445   -2,020
21  28   웅진씽크빅(단행본)  4  2012   40,078  -10,395
22   1         와이비엠  5  2012  167,185   49,327
23   2        현대영어사  5  2012   49,227   12,623
24   3     해커스어학연구소  5  2012   27,939   11,795
25   4     와이비엠시사닷컴  5  2012   96,069    2,794
26   5        서울문화사  5  2012   54,234    1,687
27   6       잉글리쉬무무  5  2012   19,134    1,321
28   7      시사일본어학원  5  2012    8,437    1,281
29   8        창의와탐구  5  2012   20,409      830
30   9        학산문화사  5  2012   20,109      523
31  10       와이비엠시사  5  2012   40,630     -934
32  11  지앤비영어전문교\r육  5  2012   24,206   -1,087
33  12         튼튼영어  5  2012   33,345   -1,635
34  13      한국전화번호부  5  2012   12,172   -8,065
35  14    웅진씽크빅(기타)  5  2012   75,310  -15,516

In [121]:
df10['매출액(int)'] = df10['매출액'].apply(func1)
df10['영업이익(int)'] = df10['영업이익'].apply(func1)

/var/folders/jk/39vchm610gncrh7q8gt2gmk00000gn/T/ipykernel_15587/1867065581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10['매출액(int)'] = df10['매출액'].apply(func1)
/var/folders/jk/39vchm610gncrh7q8gt2gmk00000gn/T/ipykernel_15587/1867065581.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10['영업이익(int)'] = df10['영업이익'].apply(func1)

In [122]:
df10

    순위          기업명 분류    연도      매출액     영업이익  매출액(int)  영업이익(int)
0   25        영림카디널  4  2011    1,052     -407      1052       -407
1   26         영진닷컴  4  2011    8,072      486      8072        486
2   27          비룡소  4  2011   15,247   -1,175     15247      -1175
3   28   웅진씽크빅(단행본)  4  2011   63,461   -2,215     63461      -2215
4    1         와이비엠  5  2011  163,894   47,497    163894      47497
5    2        현대영어사  5  2011   59,447   16,665     59447      16665
6    3     해커스어학연구소  5  2011   29,084   16,063     29084      16063
7    4     와이비엠시사닷컴  5  2011  103,141    8,601    103141       8601
8    5        서울문화사  5  2011   52,456    4,967     52456       4967
9    6       잉글리쉬무무  5  2011   21,455    2,950     21455       2950
10   7      시사일본어학원  5  2011   10,340      498     10340        498
11   8        창의와탐구  5  2011   22,150     -735     22150       -735
12   9        학산문화사  5  2011   24,436      729     24436        729
13  10       와이비엠시사  5  2011   42,699     -935     42699       -935
14  11  지앤비영어전문교\r육  5  2011   28,816      140     28816        140
15  12         튼튼영어  5  2011   34,854     -718     34854       -718
16  13      한국전화번호부  5  2011   17,140      728     17140        728
17  14    웅진씽크빅(기타)  5  2011   75,947  -17,911     75947     -17911
18  25        영림카디널  4  2012    1,022     -392      1022       -392
19  26         영진닷컴  4  2012    6,748   -1,325      6748      -1325
20  27          비룡소  4  2012   13,445   -2,020     13445      -2020
21  28   웅진씽크빅(단행본)  4  2012   40,078  -10,395     40078     -10395
22   1         와이비엠  5  2012  167,185   49,327    167185      49327
23   2        현대영어사  5  2012   49,227   12,623     49227      12623
24   3     해커스어학연구소  5  2012   27,939   11,795     27939      11795
25   4     와이비엠시사닷컴  5  2012   96,069    2,794     96069       2794
26   5        서울문화사  5  2012   54,234    1,687     54234       1687
27   6       잉글리쉬무무  5  2012   19,134    1,321     19134       1321
28   7      시사일본어학원  5  2012    8,437    1,281      8437       1281
29   8        창의와탐구  5  2012   20,409      830     20409        830
30   9        학산문화사  5  2012   20,109      523     20109        523
31  10       와이비엠시사  5  2012   40,630     -934     40630       -934
32  11  지앤비영어전문교\r육  5  2012   24,206   -1,087     24206      -1087
33  12         튼튼영어  5  2012   33,345   -1,635     33345      -1635
34  13      한국전화번호부  5  2012   12,172   -8,065     12172      -8065
35  14    웅진씽크빅(기타)  5  2012   75,310  -15,516     75310     -15516

In [123]:
df11 = pd.concat([df5,df5_1,df10])

In [124]:
df11

    순위          기업명 분류    연도      매출액     영업이익  매출액(int)  영업이익(int)
0    1         교원구몬  1  2011  673,103   74,512    673103      74512
1    2           대교  1  2011  793,665   65,436    793665      65436
2    3   웅진씽크빅(학습지)  1  2011  394,630   33,683    394630      33683
3    4         재능교육  1  2011  251,908    1,770    251908       1770
4    5         한솔교육  1  2011  246,638   -1,124    246638      -1124
..  ..          ... ..   ...      ...      ...       ...        ...
31  10       와이비엠시사  5  2012   40,630     -934     40630       -934
32  11  지앤비영어전문교\r육  5  2012   24,206   -1,087     24206      -1087
33  12         튼튼영어  5  2012   33,345   -1,635     33345      -1635
34  13      한국전화번호부  5  2012   12,172   -8,065     12172      -8065
35  14    웅진씽크빅(기타)  5  2012   75,310  -15,516     75310     -15516

[164 rows x 8 columns]

In [128]:
# 2011년도에 매출액이 가장 높은 기업은?
cond1 = (df11['연도'] == '2011')
df11.loc[cond1].sort_values(by='매출액(int)', ascending=False)

    순위         기업명   분류    연도      매출액    영업이익  매출액(int)  영업이익(int)
1    2          대교    1  2011  793,665  65,436    793665      65436
0    1        교원구몬    1  2011  673,103  74,512    673103      74512
8    1          교원    2  2011  482,314  44,637    482314      44637
2    3  웅진씽크빅(학습지)    1  2011  394,630  33,683    394630      33683
3    4        재능교육    1  2011  251,908   1,770    251908       1770
..  ..         ...  ...   ...      ...     ...       ...        ...
34  18         민음인  4.0  2011    3,625    -110      3625       -110
9   14  아이템플(6월결산)  3.0  2011    2,719    -105      2719       -105
40  24     도서출판삼성당  4.0  2011    2,391      15      2391         15
36  20          한언  4.0  2011    1,435      71      1435         71
0   25       영림카디널    4  2011    1,052    -407      1052       -407

[82 rows x 8 columns]

In [129]:
# 2012년도에 영업이익이 가장 높은 기업은?
cond1 = (df11['연도'] == '2012')
df11.loc[cond1].sort_values(by='영업이익(int)', ascending=False)

    순위         기업명   분류    연도      매출액     영업이익  매출액(int)  영업이익(int)
23   1        교원구몬    1  2012  653,055   77,640    653055      77640
31   1          교원    2  2012  487,534   50,767    487534      50767
22   1        와이비엠    5  2012  167,185   49,327    167185      49327
24   2          대교    1  2012  771,528   40,273    771528      40273
42   1        비상교육    3  2012  119,403   22,038    119403      22038
..  ..         ...  ...   ...      ...      ...       ...        ...
41  11      프뢰벨하우스    2  2012   42,335   -3,245     42335      -3245
34  13     한국전화번호부    5  2012   12,172   -8,065     12172      -8065
21  28  웅진씽크빅(단행본)    4  2012   40,078  -10,395     40078     -10395
35  14   웅진씽크빅(기타)    5  2012   75,310  -15,516     75310     -15516
57  21   EBS[출판사업]  3.0  2012   99,100  -16,200     99100     -16200

[82 rows x 8 columns]

In [138]:
# 2011년도에서 2012년도까지 '분류'별 가장 매출액이 높은 기업은?
df11['분류'].value_counts()

4.0    48
3.0    34
5      28
2      22
1      16
3       8
4       8
Name: 분류, dtype: int64